body{
    text-align: center;
    background-color: #F4E1D2;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #264653;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    
}

a.abt{
    text-decoration: none;
    color: black;
}

.btn {
    height:200px;
    width:200px;
    border-radius: 20%;
    border: 10px solid black ;
    margin: 1rem;
}

.btn-container{
display:flex;
justify-content: center;

}


.yellow{
    background-color:  #2A9D8F;
    }
    
    .red{
        background-color: #E9C46A;
    }
    
    .green{
        background-color: #E76F51;
    }
    
    .purple{
        background-color: #A268D6;
    }
    
    .flash{
        background-color: white;
    }
    
    .userflash{
        background-color: green;
    }


    .btn:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
        transform: scale(1.1); 
    }
